*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}
.main__container {
    width: 100%;
    height: auto;

}
.page__header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    margin: 0;
    height: 70px;
}
.head_logo{
    width: 210px;
}
.logo {
    padding-left: 27px;
    padding-right: 27px;
    width: 81px;
    height: 70px;
    margin: 0;
}
.logo__text {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.hd__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hd__nav__item {
    text-transform: uppercase;
    list-style-type: none;
    margin: auto 17px;
    border: none;
}
.hd__item__link {
    color: #ffffff;
}
.hd__item__link:hover {
    color: #14B9D5;
}
.search {
    width: 68px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
.container {
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 440px;
    color: #ffffff;
    padding-top: 184px;
    padding-bottom: 74px;
}
.img__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 155px;
    text-align: center;
}
.container__title {
    font-size: 27px;
    line-height: 37px;
    margin: 0 auto 44px;
}
.header__buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: end;
    width: 360px;
    height: 55px;
}
.hd__button {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    align-items: end;
    color: #ffffff;
}
.color_green {
    background-color: #89CA62;
    border: none;
}
.color_blue {
    background-color: #14B9D5;
    border: none;
}
.button__link {
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
}
.page__main {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #F2F2F2;
}
.main__section {
    width: 100%;
    height: 1030px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 0;
}
.section_title {
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 0 auto;
    height: 130px;
    padding-top: 49px;
    padding-bottom: 52px;
}
.popular__hotels {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 922px;
    width: 1170px;
    margin: 0 auto 72px;
    padding-left: 0;
}
.popular-list__item {
    width: 370px;
    height: auto;
    margin-bottom: 30px;
    background-color: #ffffff;
}
.subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
}
.popular__h3 {
    color: #353A3D;
    font-size: 18px;
    line-height: 25px;
}

.popular__banner {
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url("../images/popular_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 588px;
    margin-top: 0;
}
.clients__banner {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 881px;
    height: 288px;
    margin: 115px auto 185px;
}
.popular__h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 32px;
    line-height: 44px;
    margin: 0;
}
.orange__line {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;
    margin: 87px auto 100px;
}
.popular-clients__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 58px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 881px;
    height: 63px;
}
.top-rated__section {
    background-color: #ffffff;
    width: 100%;
}
.img__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(190px, auto);
    column-gap: 0;
    justify-items: stretch;
}
.img__list__item {
    width: 100%;
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
}
.item1 {background-image: url("../images/1KidsStore.jpg");}
.item2 {background-image: url("../images/2KidsStoreLighting.jpg");}
.item3 {background-image: url("../images/2KidsStoreLighting.jpg");}
.item4 {background-image: url("../images/4Pools.jpg");}
.item5 {background-image: url("../images/5Hourses.jpg");}
.item6 {background-image: url("../images/6billionares.jpg");}
.item7 {background-image: url("../images/7Brazilstaduims.jpg");}

.hot__news {
    display: grid;
    justify-content: center;
    row-gap: 43px;
    background-color: #ffffff;
    /*margin-left: 372px;*/
    /*margin-right: 361px;*/
    margin: 0 361px 77px 372px;
}
.hot__news__first {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: 35px;
}
.hot__news__second {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: 60px;
}
.post_1_8 {
    display: grid;
    grid-auto-flow: column;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    width: 856px;
    height: 259px;
}
.news__1_8_img-size {
    width: 483px;
    height: 259px;
}
.article_post_1_8 {
    justify-content: right;
    padding-right: 24px;
}
.news_txt-align_1_8 {
    text-align: right;
    margin-top: 41px;
}
.post_3_4_5_6 {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 554px;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.news__3-6_img-size {
    width: 554px;
    height: 259px;
}
.article_post_3-6 {
    justify-content: right;
    padding-right: 14px;
}
.news_txt-align_3-6 {
    text-align: right;
    margin-top: 12px;
}
.post_2_7 {
    display: grid;
    grid-auto-flow: row;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    width: 277px;
    height: 259px;
}
.news__2_7_img-size {
    width: 277px;
    height: 210px;
}
.news_txt-align_2_7 {
    text-align: center;
    margin-top: 14px;
}
.news_txt-align {
    text-align: right;
}
.news__link {
    text-decoration: none;
}
.hot__news__info {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.page__footer {
    display: grid;
    width: 100%;
    height: 80px;
    background-color: #000000;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
    margin: auto;
}
.footer__container {
    width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.footer_text {
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
    justify-self: left;
    align-self: center;
}
.footer__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    justify-content: center;
    justify-self: right;
    align-self: center;
}
.footer_icon1 {
    background-image: url("../images/footer_icon.png");
    width: 38px;
    height: 24px;
    justify-self: right;
}
.footer_icon2 {
    background-image: url("../images/footer_icon_2.png");
    width: 64px;
    height: 16px;
    justify-self: left;
    margin-left: 3px;
}