*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
.page__body {
    margin: 0 auto;
    width: 1280px;
}
.page__header {
    display: block;
}
.logo {
    font-size: 80px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}
.accent_color {
    color: deepskyblue;
}
.box__list {
    display: flex;
    vertical-align: top;
    justify-content: center;
    padding: 0;
    background-color: #35444F;
    width: 100%;
    height: 72px;
}
.box__item {
    display: inline-block;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-inline: 40px;
    padding-top: 26px;
    padding-bottom: 19px;
    font-size: 24px;
    line-height: 28px;
}
.box__item:hover{
    background-color: #222F3A;
}
.nav__href {
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.box__parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 48px auto;
}
.aside__menu {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}
.aside__nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.aside__list {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;
    align-items: center; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

}
.list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    font-size: 27px;
    width: 100%;
    height: 100%;
}
.list__item:hover {
    background-color: #DBDBDB;
    text-align: center;
    font-weight: bold;
    color: #000000;
    padding-inline: 10%;
}
.item__link {
    color: #495863;
    padding-left: 38px;
}
.item__link:hover {
    text-align: center;
}

.div__section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 885px;
    height: 832px;
}

.div__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}
.section__paragraph {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
}
.page__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: rgba(99, 105, 110, 0.48);
}
.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 875px;
    height: 28px;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    width: 100%;
    height: 100%;
}
.footer__menu__item {
    display: inline-block;
    list-style: none;
    font-size: 28px;
    line-height: 28px;
}
.footer__item__link {
    color: black;
}
.footer__item__link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.footer__paragraph {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}
.scale {
    transition: 1s;
}
.scale:hover {
    transform: scale(1.2);
}



