*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
.page {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/BackgroundImage.png) 0 0 / cover no-repeat;
}
.page__header {
    width: max-content;
}

