*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
}
.page__body {
    align-items: center;
    width: 100%;
}
.header {
    height: 78px;
    align-items: center;
}
.page__navbar {
    text-align: center;
    align-items: stretch;
}
.navbar__list {
    list-style: none;
    display: inline-block;
    text-align: center;
}
.navbar__item {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}
.item__link {
    color: red;
    font-weight: bold;
}
.banner__img {
    text-align: center;
}
.page__content {
    text-align: center;
    align-items: center;
}
.section__title {
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 48px;
    margin-bottom: 10px;
}
.section__paragraph {
    font-style: normal;
    text-align: center;
    margin-inline: 68px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-top: 28px;
}
.section__button {
    color: white;
    font-weight: bold;
    background-color: red;
    border: 4px solid white;
    text-align: center;
    margin-top: 66px;
    margin-bottom: 42px;
    letter-spacing: 2px;
    width: 191px;
    height: 51px;
    border-radius: 8px;
}
.page__footer {
    align-items: center;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 40px;
}
.footer__paragraph {
    padding-bottom: 29px;
    text-align: right;
}



