*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: sans-serif;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax{
    position: relative;
    height: 100%;
}
.parallax__mountain{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax__mountain_1{
    background: url(../images/m_1.png) 0 0 / cover no-repeat;
}
.parallax__mountain_2{
    background: url(../images/m_2.png) bottom right / 45% no-repeat;
    z-index: 1;
}
.parallax__mountain_3{
    background: url(../images/m_3.png) left bottom / 100% no-repeat;
    z-index: 1;
}
.content{
    position: relative;
}
.content__body{}
.content__header{}
.content__title{}
.content__subtitle{}
.content__article{}
